<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<!--Header snippet for css and meta-->
<head>
    <div th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
              integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
        <!--Adds padding for navbar-->
        <style>body {
            margin-top: 4.5rem;
        }</style>
    </div>
</head>
<body>

<!--Navbar snippet-->
<nav class="navbar fixed-top navbar-expand-md mb-4 bg-light" th:fragment="nav-bar">
    <a class="navbar-brand ml-3" href="/">&micro;reddit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span>
    </button>
    <div class="collapse navbar-collapse" item="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <!--sec:authorize tags are used to render links specific to the user's login status-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/subs/create}" th:text="#{label.sub.pageTitle}">New Sub</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/posts/create}" th:text="#{label.pages.post.message}">New Post</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link">PLACEHOLDER</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right mr-3">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <span class="navbar-text mr-3"
                      th:text="${#authentication.getName()} + ' (' +
                      ${#authentication.getPrincipal().getPostKarma()} + ', ' +
                      ${#authentication.getPrincipal().getCommentKarma()} + ')'">
                </span>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary btn-sm" th:text="#{label.pages.logout}">Logout</button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}" th:text="#{label.form.loginTitle}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/user/registration}" th:value="#{label.pages.register}">Register</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>