<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<body>
<!--main page sidebar-->
<div th:fragment="sidebar-main">
    <div sec:authorize="isAuthenticated()" class="col-md-12">
        <span class="badge badge-secondary p-2" style="width: 100%">Submit a new link</span>
        <span class="badge badge-secondary p-2" style="width: 100%">Submit a new text post</span>
        <span class="badge badge-secondary p-2" style="width: 100%">Create your own subreddit</span>
    </div>
    <div sec:authorize="isAnonymous()" class="col-md-12">
        <form name="f" th:action="@{/login}" method="POST" class="form-inline mx-3">
            <div class="form-group col-md-12 mb-1">
                <label class="sr-only " for="userID" th:text="#{label.user.userID}">userID</label>
                <input type="text" postID="userID" class="form-control" name="userID" placeholder="username"/>
            </div>
            <div class="form-group col-md-12 mb-1">
                <label class="sr-only" for="password" th:text="#{label.user.password}">Password</label>
                <input type="password" postID="password" class="form-control" name="password" placeholder="password"/>
            </div>
            <br/>
            <div class="form-group col-md-12 mb-1">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary" th:text="#{label.form.loginTitle}">Login</button>
            </div>
            <div class="col-md-12">
                <span class="badge badge-secondary mb-1 p-2" style="width: 100%; font-size: 10pt">
                    Submit a new text post
                </span>
                <span class="badge badge-secondary p-2" style="width: 100%; font-size: 10pt">
                    Create your own subreddit
                </span>
            </div>
        </form>
    </div>
</div>
</body>
</html>