<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>&micro;reddit - New Post</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<main name="main" class="container">
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row">
            <h1 class="display-4 pb-3" th:text="#{label.pages.post.message}">New Post</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div th:if="${param.error}" class="alert alert-error">
                    An error occurred.
                </div>
                <form th:action="@{/posts/create}" th:object="${PostDto}" method="POST" class="form mx-3">
                    <div class="form-group">
                        <label for="title" class="control-label" th:text="#{label.pages.post.title}">Title</label>
                        <input postID="title" class="form-control" th:field="*{title}" autofocus required/>
                    </div>
                    <div class="form-group">
                        <label for="text" class="control-label" th:text="#{label.pages.post.text}">Post Text</label>
                        <textarea postID="text" class="form-control" th:field="*{text}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="type" class="control-label" th:text="#{label.pages.post.type}">Post Type</label>
                        <select postID="type" class="form-control" th:field="*{type}">
                            <option value="TEXT" th:text="#{label.pages.post.options.text}">Text</option>
                            <option value="TEXT" th:text="#{label.pages.post.options.link}">Text</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="subName" class="control-label" th:text="#{label.pages.post.subName}">
                            Sub Name
                        </label>
                        <input postID="subName" class="form-control" th:field="*{subName}"/>
                    </div>
                    <br/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/footer :: scripts"></div>
</main>

</body>
</html>