<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>&micro;reddit</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<main name="main" class="container">
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="display-4 pb-3">&micro;reddit</h1>
                <p class="lead">
                    Nothing to see here.
                </p>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/footer :: scripts"></div>
</main>
</body>
</html>