<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>&micro;reddit</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<main name="main">
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid mx-3">
        <div class="row">
            <div class="col-lg-9">
                <table class="table" style="max-width: 90%">
                    <tbody>
                    <tr th:each="Post : ${posts}">
                        <td th:text="${Post.getTitle()}">1</td>
                        <td th:text="${Post.getText()}" style="width: 350px">2</td>
                        <td th:text="${Post.getUsername()}">3</td>
                        <td th:text="${Post.getSubTitle()}">4</td>
                        <td th:text="${Post.getKey().getTimeStamp()}">5</td>
                        <td th:text="${Post.getKarma()}">6</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/footer :: scripts"></div>
</main>
</body>
</html>