<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>&micro;reddit</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<main name="main">
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <!--start of post template-->
                <div th:each="Post : ${posts}" class="row mx-1 my-auto">
                    <div class="col-1-lg my-auto mx-1" style="width: 35px;">
                        <span class="oi oi-arrow-thick-top" style="width: 100%; text-align: center"></span>
                        <p class="my-1" style="text-align: center" th:text="${Post.getKarma()}"></p>
                        <span class="oi oi-arrow-thick-bottom" style="width: 100%; text-align: center"></span>
                    </div>
                    <div class="col-2-lg my-auto">
                        <img th:src="@{img/uredditThumb.jpg}"/>
                    </div>
                    <div class="col-9-lg mx-1">
                        <p class="h4 my-0" th:text="${Post.getTitle()}">Title</p>
                        <p class="my-0"
                           th:text="'Submitted at ' + ${Post.getTimestamp()} + ' by ' +
                            ${Post.getUsername()} + ' to ' + ${Post.getSubName()}">
                        </p>
                        <p class="my-0">Comment share save report</p>
                    </div>
                </div>
                <hr class="my-2 mx-3" style="border-color: antiquewhite;"/>
            </div>
            <!--end of post template-->
            <div class="col-lg-2">
                <p>SIDEBAR GOES HERE</p>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/footer :: scripts"></div>
    </div>
</main>
</body>
</html>