<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>&micro;reddit - Login</title>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<main name="main" class="container">
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="display-4 pb-3" th:text="#{label.form.loginTitle}">Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form name="f" action="/login" method="POST" class="form mx-3">
                    <div th:if="${param.error}" class="alert alert-danger" name="alert">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success" name="alert">
                        You have been logged out.
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label" th:text="#{label.user.userName}">username</label>
                        <input type="text" id="username" class="form-control" name="username" autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label" th:text="#{label.user.password}">password</label>
                        <input id="password" class="form-control" name="password" type="password"/>
                    </div>
                    <br/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/header :: footer"></div>
    <div th:replace="fragments/header :: scripts"></div>
</main>
</body>
</html>