<html>
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<main role="main" class="container">
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="display-4 pb-3" th:text="#{label.form.loginTitle}">Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="/login" method="POST" class="form mx-3">
                    <div class="form-group">
                        <label for="id_username" class="control-label" th:text="#{label.user.userName}">username</label>
                        <input type="text" id="id_username" class="form-control" name="username" value="" required
                               autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="control-label" th:text="#{label.user.password}">password</label>
                        <input id="id_password" class="form-control" name="password" value="" type="password" required/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/header :: footer"></div>
    <div th:replace="fragments/header :: scripts"></div>
</main>
</body>
</html>