<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<main role="main" class="container">
    <div th:replace="fragments/header :: nav-bar"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="lead">
                    Registration is required to post and comment. We collect and verify email addresses for all
                    registered
                    users to slow down the rate of bot spam.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="display-6">Create an account:</h4>
                <form action="/" method="POST" class="form mx-3">
                    <div class="form-group">
                        <label for="id_username" class="control-label" th:text="#{label.user.userName}">username</label>
                        <input type="text" id="id_username" class="form-control" name="username" value="" required
                               autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="control-label" th:text="#{label.user.email}">email</label>
                        <input id="id_email" type="email" class="form-control" name="email" value="" required/>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="control-label" th:text="#{label.user.password}">password</label>
                        <input id="id_password" class="form-control" name="password" value="" type="password" required/>
                    </div>
                    <div class="form-group">
                        <label for="id_matchPassword" class="control-label"
                               th:text="#{label.user.confirmPass}">confirm</label>
                        <input id="id_matchPassword" class="form-control" name="matchingPassword" value=""
                               type="password" required/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/header :: footer"></div>
    <div th:replace="fragments/header :: scripts"></div>
</main>
</body>

</html>